<h1>Dependency injection</h1>
<p>
	@@unsing & inject extracted to the Views/__ViewImports.cshtml
</p>
<p>
	@@using ExampleWebApp.Mvc.FromBlank.Services
</p>
	@@inject IGreetingService _greetingService
</p>
<p>@_greetingService.Greet()</p>
