<div>Hello world MVC!!! :: IndexByViewData</div>
<div>@ViewData["CustomKey"]</div>
<div>@ViewBag.CustomProperty</div>
<div>@System.IO.Directory.GetCurrentDirectory()</div>
<img src="~/images/video.jpeg" />
